.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 0;
  margin: 0.5rem 0;
  width: 44rem;
  box-shadow: 5px 10px 20px #888888;
}

.cartContainer:hover {
  box-shadow: 5px 10px 8px #888888;
}

.cartImage {
  padding: 0;
  margin: 0;
  width: 2rem;
}

.cartDetails {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0 0 0.8rem;
  width: 15rem;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 6rem;
}

.decreaseButton,
.increaseButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.decreaseButton {
  color: #ff0000;
}
.increaseButton {
  color: #00a500;
}

.decreaseButton:hover,
.increaseButton:hover {
  transform: scale(1.2);
}

.quantityText {
  text-align: center;
  font-size: 1.5rem;
  width: 1.5rem;
  font-weight: 600;
  margin: 0 0.3rem 0.3rem 0.3rem;
  padding: 0;
}

.cartName {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.cartPrice {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.4rem 0;
  padding: 0;
}
.cartDelivery {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.TotalAmount {
  margin: 0;
  padding: 0 2rem;
}

.TotalAmountText {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
