.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 8%;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

.navigationContainer {
  display: flex;
  justify-content: space-around;
}

.navigationItem {
  margin: 0 1rem;
}

.navigation a {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.navigation a:hover {
  text-shadow: 2px 2px 8px rgb(102, 102, 102);
}

.navigationCartQuantity {
  color: #0077ff;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 0rem 0.3rem;
  border: solid 0.15rem #0077ff;
  border-radius: 1rem;
  width: 1.4rem;
  text-align: center;
}

.subNavigationMenu {
  position: absolute;
  top: 100%;
  right: 8%;
}

.subNavigationItem {
  padding: 0.4rem 1rem;
  border: 0;
  margin: 0.2rem;
  background-color: #ffffff;
}

.navigationUser {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.navigationUser:hover {
  text-shadow: 2px 2px 8px rgb(102, 102, 102);
}

@media screen and (max-width: 600px) {
  .navigation a {
    font-size: 0.7rem;
  }
}
