.productItem {
  margin: 1rem;
  padding: 0;
  box-shadow: 5px 10px 20px #888888;
  transition: 0.3s;
  background-color: #ffffff;
  border-radius: 0.4rem;
}

.productItem:hover {
  box-shadow: 5px 10px 8px #888888;
}

.productImage {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.productDetails {
  padding: 0.2rem 1rem 0.5rem 1rem;
  color: rgb(43, 43, 43);
}

.productDetails p {
  padding: 0 0 0.5rem 0;
}

.productName {
  font-size: 1.15rem;
  font-weight: 700;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.productPrice {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.productDelivery {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}

.editButton,
.deleteButton {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.editButton {
  color: #00a500;
}

.deleteButton {
  color: #ff0000;
}

.editButton:hover {
  text-shadow: 2px 2px 8px #00a500;
}

.deleteButton:hover {
  text-shadow: 2px 2px 8px #ff0000;
}
