@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  background-repeat: no-repeat;
}

body,
button,
textarea,
input[type='submit'] {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  margin: auto;
  text-align: center;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

.iconGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin: 0 0.3rem 0 0;
  width: 1.3rem;
}

.icon-s {
  width: 1rem;
}

.icon-m {
  width: 1rem;
}

.icon-l {
  width: 1.5rem;
}

.icon-margin {
  margin: 0 0.3rem;
}

.cursor {
  cursor: pointer;
}

.icon-rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
